Input-files: *.txt content/*.txt globals/*.txt globals/macros/*.txt header/*.txt header/macros/*.txt footer/*.txt footer/macros/*.txt home/*.txt item_details/*.txt item_details/macros/*.txt items_list/*.txt items_list/macros/*.txt merchandising/*.txt merchandising/macros/*.txt reviews/*.txt shopping_cart/*.txt shopping_cart/macros/*.txt product_lists/*.txt
Combined-file: Templates.js
Keep-files: 1
Referring-files: ../*.ssp
Version: 2
Variable-name: SC.templates