.bgbar{
  background-color: #c81018;
  line-height: 42px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.pgBntB {
  background: #c81018 !important;
  background: linear-gradient(to bottom, #c81018 2%,#a8030a 100%) !important;
  margin-bottom: 15px;
}
.pgBntB:hover, .pgBntB_sel, .pgBntB_sel:hover{
  background: #a8030a !important;
}
.pgBntB_sel:active, .pgBntB:active{
  background: #a8030a !important;
}
.pgBntY:active, .pgBntY_sel:active, .pgBntG:active, .pgBntG_sel:active, .tabBnt:active, .tabBnt_sel:active{
  box-shadow: 0 0 2px 2px rgba(243,94,101,.75);
}
.pgBntB .bntBgB, .pgBntB_sel .bntBgB, button.pgBntB{
  border-color: #c81018!important;
}

.bgbutton{
  padding: 8px 15px;
  background-color: #ebebeb;
  border-RAdius: 4px;
  margin-bottom: 10px;
}
.bgbutton:hover{
  background-color: #cecece;
}

#custpage_note_val{
    font-size: 15px;
}

.inputreq{
 font-size: 13px;
}
